<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="resource::header">
    <meta charset="UTF-8" />
    <title>test</title>

</head>
<body>
<div id="app">
    <el-button v-on:click="visible = true">按钮</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
        <p>欢迎使用 Element</p>
    </el-dialog>
</div>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        }
    })
</script>
</body>
</html>
