<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="resource::header">
</head>
<link rel="stylesheet" th:href="@{/css/index.css}"/>
<!--<script th:src="@{/js/login/login.js}" />-->
<body>
<header class="top-bar">
        <div class="top-bar-left">
            <ul class="menu" >
                <li class="menu-text">管理系统</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><button type="button" class="button">退出</button></li>
            </ul>
        </div>
</header>
<aside>
    <nav>
        test
    </nav>
</aside>
<article>
    test2
</article>



</body>
<script>
    $(document).foundation();
</script>
</html>