<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SYS系统</title>
    <script th:src="@{/jslib/jquery-3.2.1.min.js}" />

    <script th:src="@{/jslib/foundation-6.4.2/js/vendor/foundation.min.js}" />
    <script th:src="@{/jslib/foundation-6.4.2/js/vendor/what-input.js}" />

    <link rel="stylesheet" th:href="@{/jslib/foundation-6.4.2/css/foundation.min.css}" />
    <link rel="stylesheet" th:href="@{/jslib/foundation-6.4.2/icons/foundation-icons.css}" />

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!--<link rel="shortcut icon" th:href="@{/static/img/favicon.gif}" type="image/gif" />-->
</head>
</html>