<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SYS系统</title>
    <script th:src="@{/jslib/vue.min.js}" />
    <script th:src="@{/jslib/element/index.js}" />

    <link rel="stylesheet" th:href="@{/jslib/element/theme-chalk/index.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!--<link rel="shortcut icon" th:href="@{/static/img/favicon.gif}" type="image/gif" />-->
</head>
</html>