<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="resource::header">
    <title>系统登录</title>
</head>
<link rel="stylesheet" th:href="@{/css/login.css}"/>
<script th:src="@{/js/login/login.js}" />
<body>
    <div class="login-wrap">
        <h4>系统登录</h4>
        <div class="input-group">
            <span class="input-group-label"><i class="fi-lock"></i> </span>
            <input class="input-group-field" type="text" placeholder="请输入帐号" />
        </div>
        <div class="input-group">
            <span class="input-group-label"><i class="fi-key"></i> </span>
            <input class="input-group-field" type="password" placeholder="请输入密码" />
        </div>
        <P class="text-right">还没有帐号？<a href="">点击注册</a></P>
        <button type="button" class="button expanded">登录</button>
    </div>
<footer>
    <address>江苏省南京市</address> <abbr>系统管理 &copy; 2017-2020</abbr>
</footer>
</body>
</html>